/** font face **/
@font-face {
    font-family: 'estrangelo_edessaregular';
    src: url('../fonts/estre-webfont.eot');
    src: url('../fonts/estre-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/estre-webfont.woff2') format('woff2'),
         url('../fonts/estre-webfont.woff') format('woff'),
         url('../fonts/estre-webfont.ttf') format('truetype'),
         url('../fonts/estre-webfont.svg#estrangelo_edessaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
