/** colors variables*/
$color: #c0bebe; /* default font color */
$dashColor: #9c9b9b; /* default font color */
$bgcolor: #e9e9e9;/* default defalut background color */
$navbarBGC: #252424;/* default navbar background color */
$sidebarBGC:  #393838;/* default sidebar background color */
$sidebarBRC:  #444343;/* default sidebar border color */
$dashyColor: #61b0e9;
$slimiColor: #6C8799;
$normalBorderColor: #7d7d7d;
$defaultIconColor:#838383;
$colorHardSkini: #282828;
$colorOpenHardSkini: #424242;



/* font variables*/
$defaultFont:  Arial, Verdana;
$panelFont: 'estrangelo_edessaregular', arial;
$defaultFontSize:  12px;


/* checkbox & radio  definitions style */
$chekcboxBorderColor: #636262;
$chekcboxBackColor: #4e4b4b;
$chekcboxSelectedColor: #ff7400 /*#8a8686 #ff7400*/;
$chekcboxTextColor: #c0bebe;


/* textfield definitions style */
$textfieldFontColor: #9c9b9b;
$textfieldBorderColor: #636262;
$textfieldBackgroundColor: #282828;
$textfieldFocusColor: #38c4e1;
$textfieldBlackBg: #1c1a1a;
$textfieldBlackFontColor: #787878;

/*** field set style ***/
$fieldsetBorderColor: #636262;
$fieldsetTextColor: #8b8989;
$fieldsetCaptionBgColor: #8b8989;


/* combobox definitions style */
$comboboxFontColor: #9c9b9b;
$comboboxFontColorDisabled: #4d4d4d;
$comboboxBorderColor: #636262;
$comboboxBorderColorDisabled: #3e3d3d;
$comboboxBackgroundColor: #4e4b4b;
$comboboxBackgroundColorDisabled: #373535;


/* dropdown box definitions color */
$dropboxSelectedColor: #E2820B;
$dropboxSelectedBGColor: #3D3D3D;

/** event definitions style */
$eventBackColor: #363535;
$eventSeparatorColor: #666565;
$eventFontColor: #d9d7d7;

/** panel definitions **/

$panelBgColor: #ffffff;
$panelBorderColor: #6C8799;/*#61b0e9;*/
$panelTitle: #6C8799;/*#61b0e9;*/
$paneldropdownmenuBgColor: #1d1e1e;
$paneldropdownmenuTxtBgColor: #282828;
$sidebarPanelBgColor: #535454;
$panelRadius: 5px;


/**  separator  definitions color **/
$sepaInnerColor:#201e1e;
$sepaOuterColor:#3e3b3a;


/* dmng-screen style */

$dmngScreenBorder: #595858;
$dmngScreenBg: #000;



/*** table storage color definition ***/

$tableStorageBodyBorder: #dddad9;
$tableStoragHeaderColor: #d9d7d7;
$tableStorageColor: #8b8989;
$tableStorageTrBorderBottom: #545251;
$tableScrollBackColor:  #141313;
$tableStoragHeaderSize: 9pt;
$tabelStorageFontSize: 8pt;


/* flat text color */
$flatTextColor: #8b8989;
$flatTextFontSize: 9pt;

/*** flat combobox color definitions **/
$flatComboBackColor: #141313;

/*** mini notif color **/
$miniNotifColor: #fff;
$miniNotifBGColor: #99f64d;


/* Button style definition*/
$bgcolorOnAir: #dd0606;
$brcolorOnAir: #b3b3b3;
